<% content_for :shaders do %>
<%= render :partial => 'texture-vertex-shader' %>
<%= render :partial => 'texture-fragment-shader', :locals => { :dimension => 2 } %>
<% end %>

<h1>BabyBrain</h1>
<div id="controls">
    <h4>Window/Level</h4>
    <div id="window-width-slider" class="slider-control"></div>
    <h4>X Depth</h4>
    <div id="x-depth-slider" class="slider-control"></div>
    <h4>Y Depth</h4>
    <div id="y-depth-slider" class="slider-control"></div>
    <h4>Z Depth</h4>
    <div id="z-depth-slider" class="slider-control"></div>
</div>
<div id="main">
    <div id="webglview"><canvas id="canvas"></canvas></div>
</div>
