<% content_for :shaders do %>
<%= render :partial => 'standard-vertex-shader' %>
<%= render :partial => 'tex2dshader', :locals => { :dimension => 2 } %>
<% end %>

<h1>BabyBrain</h1>
<div id="controls">
    <h4>Window Width</h4>
    <div id="window-width-slider"></div>
</div>
<div id="main">
    <div id="webglview"><canvas id="canvas"></canvas></div>
</div>
