<% content_for :shaders do %>
<%= render :partial => 'standard-vertex-shader' %>
<%= render :partial => 'standard-fragment-shader' %>
<% end %>
<h1>BabyBrain</h1>
<div id="controls">
    <div id="slider"></div>
</div>
<div id="main">
    <div id="webglview"></div>
</div>
