// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$webglsz: 728px;
$controlsz: 300px;
$controlpadding: 16px;
$slidersz: $controlsz * 0.75;
$defaultFont: Palatino, 'Book Antiqua', serif;

body {
    font-family: $defaultFont;
}

h1 {
    font-style: italic;
    font-weight: normal;
}

h4 {
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
}

a:link {
  text-decoration: none;
}

#controls {
    float: left;
    width: $controlsz;
    padding-left: $controlpadding;
    padding-right: $controlpadding;
};

.slider-control {
    width: $slidersz;
    margin-top: 0.5em;
}

#main {
    display: block;
    position: relative;
    left: $controlsz;
    top: 0;
    width: $webglsz;
    height: $webglsz;
    border-color: black;
    border-style: solid;
    border-width: thin;
    clear:none;
};

#webglview {
    height: $webglsz
}

#canvas {
    position:absolute;
    left:0;
    top:0;
    width: $webglsz;
    height: $webglsz;
}

$slider_height : 6px;
$slider_handle_offset : 4px;
$slider_handle_width : 6px;

.ui-slider-horizontal {
    height: $slider_height;
}

.ui-slider .ui-slider-handle {
    top: -$slider_handle_offset;
    height: $slider_height + 2 * $slider_handle_offset - 2;
    width: $slider_handle_width;
    margin-left: $slider_handle_width * -0.5;
}

.control {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

label.control {
    margin-top: 1em;
}

.status {
    color:black;
}

.status.error {
    color:red;
}

#viewctrls {
    margin-top: 0.2em;
}

#histogram {
    width: $slidersz;
    height: 40px;
    border: thin solid black;
    overflow: hidden;
    margin-bottom:0;
}

.histogram-canvas {
    width:100%;
    height:100%;
}

.hidden {
    display:none;
}
