// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$webglsz: 256px;
$controlsz: 256px;
$controlpadding: 16px;
$slidersz: $controlsz * 0.75;

#controls {
    float: left;
    width: $controlsz;
    padding-left: $controlpadding;
    padding-right: $controlpadding;
};

#window-width-slider {
    width: $slidersz;
}

#main {
    display: inline-block;
    width: $webglsz;
    height: $webglsz;
    margin-left: $controlsz;
    border-color: black;
    border-style: solid;
    border-width: thin;
};

#canvas {
    width: $webglsz;
    height: $webglsz;
}

$slider_height : 6px;
$slider_handle_offset : 4px;
$slider_handle_width : 6px;

.ui-slider-horizontal {
    height: $slider_height;
}

.ui-slider .ui-slider-handle {
    top: -$slider_handle_offset;
    height: $slider_height + 2 * $slider_handle_offset - 2;
    width: $slider_handle_width;
    margin-left: $slider_handle_width * -0.5;
}
