// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$webglsz: 256px;
$controlsz: 256px;
$controlpadding: 16px;
$slidersz: $controlsz * 0.75;

#controls {
    float: left;
    width: $controlsz;
    padding-left: $controlpadding;
    padding-right: $controlpadding;
};

#window-width-slider {
    width: $slidersz;
}

#main {
    display: inline-block;
    width: $webglsz;
    height: $webglsz;
    margin-left: $controlsz;
    border-color: black;
    border-style: solid;
    border-width: thin;
};

#canvas {
    width: $webglsz;
    height: $webglsz;
}
